.logo{
    width:100px;
    height:100px;
}
.space{
    margin-right: 10px;
}
.space:hover{
    background-color: lightgray;
}
.footer-color{
    background-color: lightgray !important;
}
.page-footer{
  
   margin-top: 25%;
    
}

